* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

/* Common CSS */
.lg-color {
  background: linear-gradient(
    20deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lenier-gr {
  background: linear-gradient(
    20deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
}

.about {
  background-color: #1a0b2e;
}

.btn-1 {
  padding: 13px 16px;
  border: none;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.btn-2 {
  padding: 12px 20px;
  border: 2px solid #00ff88;
  background-color: transparent;
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.paragraph {
  color: #ffffffcc;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.common-h2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 16px 0;
  text-transform: capitalize;
}

/* specific CSS */
header {
  background-color: #1a0b2e;
  padding: 30px 0;
}

header hr {
  margin-top: 24px;
  border: 1px solid #3a1768;
  /* height: 1px; */
  /* background-color: #190534; */
}

nav {
  display: flex;
  max-width: 1600px;
  width: 75%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-logo h1 {
  font-size: 44px;
  font-weight: 800;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

nav .ham-icon {
  display: none;
  color: white;
}

/* Hero section */
.hero {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 85vh;
  display: flex;
  align-items: center;
}

.hero .hero-container {
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  width: 75%;
}

.hero-container .hero-img {
  width: 350px;
  height: 350px;
  position: relative;
  margin: 0 auto;
}

.hero-container .hero-img .h-circle {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.hero-container .hero-img .h-mike {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container .hero-img .h-badge {
  position: absolute;
  background-color: #00ff88;
  color: #1a0b2e;
  top: 12px;
  right: 30px;
  padding: 8px 16px;
  border-radius: 1000px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: #00ff88 0px 0px 8px 0px;
}

.hero-container .hero-text {
  text-align: center;
  margin-top: 40px;
}

.hero-container .hero-text h1 {
  font-size: 60px;
  font-weight: 800;
  color: white;
  margin-bottom: 8px;
}

.hero-container .hero-text p {
  margin-bottom: 24px;
}

.hero-container .h-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* About Section */

.about-container {
  max-width: 1600px;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.about-container .about-info h2 {
  margin-bottom: 16px;
}

.about-container .about-info p {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;
  line-height: 20px;
}

.about-container hr {
  border: 1px solid #ffffff56;
  margin: 80px 0;
}

.about-container .about-rating {
  display: flex;
  gap: 80px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-rating h2 {
  color: #00ff88 !important;
}
.about-rating p {
  margin-top: 16px;
  text-transform: uppercase;
}

/* why us section */
.why-us {
  background-color: #230e3d;
}

.wus-container {
  max-width: 1600px;
  width: 75%;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}
.wus-container h2 {
  /* margin-top: 120px; */
  margin-bottom: 40px;
}
.wus-container .cards-grid .left-c {
  grid-area: left;
}

.wus-container .cards-grid .long-c1 {
  grid-area: long1;
}

.wus-container .cards-grid .long-c2 {
  grid-area: long2;
}

.wus-container .cards-grid .long-c3 {
  grid-area: long3;
}

.wus-container .cards-grid .right-c {
  grid-area: right;
}

.wus-container .cards-grid {
  display: grid;
  grid-template-areas:
    "left long1 long1"
    "left long2 long2"
    "long3 long3 right";
  gap: 20px;
}

.wus-container .gcard {
  background-color: #351165;
  border: none;
  border-radius: 40px;
  padding: 40px;
}

.wus-container .gcard img {
  max-width: 60px;
  max-height: 60px;
  width: auto;
}

.wus-container .left-c,
.wus-container .right-c,
.wus-container .long-c1,
.wus-container .long-c2,
.wus-container .long-c3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* padding: 107px auto; */
}

.wus-container .left-c img {
  margin-top: 107px;
}

/* Media query for responsiveness */
@media screen and (max-width: 576px) {
  nav .nav-link,
  nav .nav-button {
    display: none;
  }
  nav .nav-logo h1 {
    font-size: 32px;
  }
  nav .ham-icon {
    display: flex;
    font-size: 28px;
    cursor: pointer;
  }

  /* Hero section for small devices */
  .hero {
    min-height: auto;
    padding: 40px 0;
  }

  .hero .hero-container {
    width: 90%;
  }

  .hero-container .hero-img {
    width: 200px;
    height: 200px;
  }

  .hero-container .hero-img .h-mike {
    width: 50px;
    height: 60px;
  }
  .hero-container .hero-img .h-badge {
    font-size: 12px;
    padding: 6px 12px;
    top: 8px;
    right: 10px;
  }

  .hero-container .hero-text h1 {
    font-size: 32px;
  }

  .hero-container .hero-text p {
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
  }

  .hero-container .h-btn {
    margin-top: 24px;
    gap: 8px;
  }

  .btn-1,
  .btn-2 {
    font-size: 14px;
    padding: 12px 16px;
  }

  /* About section for small devices */
  .about-container .about-info h2 {
    font-size: 40px;
  }
  .about-container .about-info p {
    font-size: 12px;
    line-height: 16px;
  }

  /* Why Choose section for small devices */
  .wus-container h2 {
    font-size: 32px;
  }
  .wus-container .cards-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .wus-container .gcard {
    padding: 24px;
  }

  .wus-container .left-c img {
    margin-top: 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav .nav-link {
    display: none;
  }
  nav .nav-logo h1 {
    font-size: 32px;
  }
  nav .btn-1 {
    padding: 8px 10px;
    font-size: 14px;
  }
  nav .ham-icon {
    display: flex;
    font-size: 28px;
    cursor: pointer;
  }
}
